PARIS_BIKE_PULSE_ENV=development
PARIS_BIKE_PULSE_DATA_DIR=data
PARIS_BIKE_PULSE_BICYCLE_API_URL=https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/comptage-velo-donnees-compteurs/records
PARIS_BIKE_PULSE_WEATHER_API_URL=https://archive-api.open-meteo.com/v1/archive
PARIS_BIKE_PULSE_REQUEST_TIMEOUT_SECONDS=30
